.container-music {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    justify-items: center;
   
}


.row {
    display: flex;
    width: 100%;
}

.col-music {
    margin: 1%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease, max-height 0.3s ease;
}

.col-music:hover {
    transform: translateY(-10px);
}

.col-music img {
    width: 100%;
    height: auto;
   
}

.music-description {
    font-size: 0.8em;
}


@media screen and (max-width: 768px) {
    .container-music {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
    
}